# Security & Secrets
.env
.env.local
.env.*.local
*.pem
*.key

# Dependencies
node_modules/

# Build & Bundles
dist/
build/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS / Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
